@mixin font-additional {
  font-family: "TT Runs", "Arial", sans-serif;
}

@mixin transition {
  transition: color 0.3s ease, scale 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

@mixin button-hover {
  @media (min-width: $vp-1279 + 1px) {
    color: $color-basic;
    background-color: $color-reverse;
    border-radius: 50px;
    box-shadow: 0 0 5px $color-basic-60;
  }
}

@mixin button-hover-accent {
  @media (min-width: $vp-1279 + 1px) {
    background-color: $color-accent;
  }
}

@mixin button-active {
  @media (min-width: $vp-1279 + 1px) {
    color: $color-basic;
    background-color: $color-reverse;
  }
}

@mixin button-active-accent {
  @media (min-width: $vp-1279 + 1px) {
    background-color: $color-accent;
  }
}

@mixin button-focus {
  @media (min-width: $vp-1279 + 1px) {
    color: $color-basic;
    background-color: $color-accent;
  }
}
