/* Colors */

$color-basic: #0e0e0e;
$color-reverse: #ffffff;
$color-accent: #00ffa9;
$color-secondary: #e4e4e4;
$background-basic: #f1f1f1;

/* Viewports */

$vp-320: 320px;
$vp-375: 375px;
$vp-480: 480px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1770: 1770px;
$vp-1920: 1920px;
