@import "../common/mixins.scss";

.portfolio__inner-top {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @media (max-width: $vp-1439) {
    margin-bottom: 70px;
  }

  @media (max-width: $vp-1279) {
    margin-bottom: 60px;
    gap: 20px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 70px;
  }
}

.portfolio__description-wrapper {
  padding-right: 200px;

  @media (max-width: $vp-1279) {
    padding-right: 0;
  }
}

.portfolio__description-title {
  @include font-additional;

  margin: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 120%;

  @media (max-width: $vp-1919) {
    font-size: 26px;
  }

  @media (max-width: $vp-1439) {
    font-size: 20px;
  }

  @media (max-width: $vp-1279) {
    margin-bottom: 20px;
  }
}

.portfolio__description {
  font-size: 16px;
  line-height: 140%;


  @media (max-width: $vp-1439) {
    font-size: 15px;
  }

  &--upper {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
    }
  }
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 30px;

  @media (max-width: $vp-1919) {
    gap: 70px 20px;
  }

  @media (max-width: $vp-1279) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $vp-767) {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    column-gap: 10px;
  }

  &--big {
    @media (max-width: $vp-767) {
      display: none;
    }
  }
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__img-wrapper {
  position: relative;
  aspect-ratio: 1/1;

  @media (max-width: $vp-767) {
    width: 315px;
  }
}

.portfolio__item img {
  @include transition;

  position: absolute;
  width: 100%;
  object-fit: fill;
  aspect-ratio: 1/1;
  border-radius: 30px;
  cursor: pointer;

  @media (max-width: $vp-1439) {
    border-radius: 25px;
  }

  @media (max-width: $vp-1279) {
    border-radius: 20px;
  }

  &:hover {
    @media (min-width: $vp-1279 + 1px) {
      border-radius: 60px;
      transform: scale(1.03);
    }
  }
}

.portfolio__card-title {
  @include font-additional;

  margin: 0;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
}

.portfolio__card-description {
  padding: 0 20px;
}

.portfolio__group-list {
  display: none;

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
  }
}

.portfolio__group-title {
  @include font-additional;

  margin: 0;
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}
